mat-card {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
}

.mat-column-id {
  width: 20px ;
}

.mat-column-title {
  width: 120px;
}

.mat-column-content {
  width: 250px;
}

.mat-column-created {
  width: 100px;
}

.mat-column-done {
  width: 100px;
}

.mat-row:hover{
  background-color: rgb(238, 238, 238);
}

.mat-row:active{
  background-color: lightgrey;
}



