<!-- <div fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field style="width:600px">
    <input matInput type="text" id="name" name="name" [(ngModel)]="title" placeholder="Note Title">
  </mat-form-field>
  <mat-form-field style="width:600px">
    <textarea matInput rows="3" name="note" [(ngModel)]="content" placeholder="Note" id="note"></textarea>
  </mat-form-field>
</div>
<div *ngIf="showHideSetReminder" fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field>
    <input matInput [(ngModel)]="reminder" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
    <mat-form-field style="width:45px">
      <mat-select placeholder="HH" [(ngModel)]="hour">
        <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width:45px">
      <mat-select placeholder="MM" [(value)]="minute">
        <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
      </mat-select>
    </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <button mat-raised-button type="submit" (click)="add()">Add Note</button>
  <button mat-raised-button (click)="showHideSetReminderFields()">Set reminder</button>
</div> -->

<div fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add New Task</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field style="width:500px">
          <input matInput type="text" id="name" name="name" [(ngModel)]="title" placeholder="Task Title">
        </mat-form-field>
        <mat-form-field style="width:500px">
          <textarea matInput rows="3" name="note" [(ngModel)]="content" placeholder="Task" id="note"></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="showHideSetReminder">
        <mat-form-field>
          <input matInput [(ngModel)]="reminder" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="width:45px">
          <mat-select placeholder="HH" [(ngModel)]="hour">
            <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width:45px">
          <mat-select placeholder="MM" [(value)]="minute">
            <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <div>
      <mat-card-actions>
          <button mat-raised-button type="submit" (click)="add()" color="primary">Add Task</button>
          <button mat-raised-button (click)="showHideSetReminderFields()" color="primary">{{reminderButton}}</button>
        </mat-card-actions>
    </div>
  </mat-card>
</div>
